@import '~styles/themes/_selected';

app-page {
    display: flex;
    height: 100vh;
}

app-sidebar {
    flex: 1;
    text-align: center;

    :first-child {
       margin-top: 40px; 
    }

    > a {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    a:hover {
        color: $brand;
    }
}

app-content {
    flex: 1;
    overflow-y: auto;
}