@import '~styles/themes/_selected';

.header {
    background-color: $brand;
    color: $lightShade;
    font-family: $headerFont;
    font-style: italic;
    font-size: 2.5rem;
    padding: 0.75rem;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.25);
}