@import '~styles/colors';

$brand: $kimberly;  
$darkAccent: $havelockBlue; 
$darkShade: $charade; 
$lightAccent: $edward; 
$lightShade: $blackHaze; 

// buttons
$primary: $brand;
$info: $darkShade;
$success: $aquaForest;
$warning: $brandyPunch;
$danger: $pomegranate;
