@import '~styles/colors';

$brand: $valencia;  
$darkAccent: $manatee; 
$darkShade: $shark; 
$lightAccent: $stack; 
$lightShade: $snowDrift; 

// buttons
$primary: $brand;
$info: $darkShade;
$success: $asparagus;
$warning: $ecstasy;
$danger: $pomegranate;
