$ferrari: #FF2800;

$valencia: #D93D48; 
$manatee: #81889D; 
$shark: #202029; 
$stack: #9A9B9A; 
$snowDrift: #F9FBF9; 
$asparagus: #768D4E;
$ecstasy: #F47D16;
$pomegranate: #F44336;

$kimberly: #7779A6;
$blackHaze: #F8F9F9;
$edward: #A5ACAB;
$havelockBlue:#5898DE;
$charade: #2B2C36;
$aquaForest: #599F6A;
$brandyPunch: #D68F32;