/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Kanit|Metrophobic|Signika|Varela+Round');

body {
    margin: unset;
}

a {
    text-decoration: none;
}

a:visited {
    color: unset;
}

a:-webkit-any-link {
    color: unset;
}